*{
    margin: 0;
}
.url{
    background-image: url(iimg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover ;
    color: white;
    font-size: 65px; 
}
.url .ico{
    margin-left: 100px;
}
.url .urr{
    margin-left: 106px;
    font-family: "Raleway", sans-serif;
}
.url .ur{
    font-size: 30px;
    margin-left: 110px;
}
.url .u{
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 16px 33px;
    text-align: center;
    border-radius: 9px;
    font-size: 40px;
    display: inline-block;
    margin-left: 150px;
}