body{
    background-color: rgb(255, 255, 255);

}
.hello{
    color: rgb(214, 107, 8);
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
    word-spacing: 14px;

}
.hello2{
    
    color: rgb(17, 39, 127);
    font-size: 51px;
    text-decoration: underline;
    text-decoration-style: dotted ;
    text-decoration-color: rgb(4, 188, 16);
    letter-spacing: 5px;
    text-shadow: 3px 5px 7px brown;

}